.loaded .modal__menu {
	transition: 0.25s ease-in-out;
}

.modal__menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	overflow: scroll;
	pointer-events: none;
	transform: translate(0%, -2%);
	max-width: 100%;
	width: 100%;
	background: #0f335c;
	visibility: hidden;
	color: #fff;

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transform: translate(0%, 0);
	}
}

.loaded .modal__menu__overlay {
	transition: 0.25s ease-in-out;
}

.modal__menu__overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	pointer-events: none;

	&.active {
		opacity: 1;
		z-index: 9;
		visibility: visible;
		pointer-events: all;
	}
}

.modal__menu::-webkit-scrollbar {
	display: none;
}

.modal__menu {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.modal__menu__inner {
	padding: 1.5rem 1.25rem;
}

.modal__menu__btn_close {
	width: 2.5rem;
	height: 2.5rem;
	background: transparent;
	position: relative;
	border: none;
}

.modal__menu__btn_close:before,
.modal__menu__btn_close:after {
	height: 1.25px;
	width: 65%;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	background: #fff;
	transform: rotate(45deg);
}

.modal__menu__btn_close:after {
	transform: rotate(-45deg);
}

.modal__menu__logo img {
	width: 5rem;
}

.modal__menu__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}

.modal__menu__btn_close {
	margin-right: -0.5rem;
}

.modal__menu__logo {
	font-size: 0;
}

.modal__menu__list {
	margin-bottom: 1.5rem;
	border: 1px solid #394c6a;
	border-left: 0;
	border-right: 0;
	padding: 1rem 0;
}

.modal__menu__info {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.modal__menu__phone {
	color: inherit;
	text-decoration: none;
	gap: 1rem;
	display: inline-flex;
	align-items: center;
}

.modal__menu__phone:hover {
	opacity: 0.5;
}

.btn_modal__menu_login {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	padding: 0.75rem 1rem 1rem;
	font-family: 'Lexend Zetta', sans-serif;
}

.btn_modal__menu_login:hover {
	background: #fff;
	color: #0f335c;
}

.modal__menu__phone svg {
	width: 1.15rem;
	height: auto;
}

.modal__menu__list ul {
	list-style: none;
}

.modal__menu__list a {
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	padding: 0.375rem 0;
}

.modal__menu__list .has_submenu a:after {
	display: none;
}

.modal__menu__list ul ul {
	padding: 0.5rem 0.85rem;
}

.btn_modal__menu_login {
    max-width: 750px;
}