.header__logo {
	display: inline-flex;
	align-items: center;
	font-size: 0;
}

.header_btn_menu {
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	position: relative;
	background: transparent;
	border: none;
	appearance: none;
	border-radius: 0;

	span {
		background: #fff;
		width: 82.5%;
		height: 1.5px;
		position: absolute;
		border-radius: 5px;
		margin: auto;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		transition: 0.5s;

		&:nth-child(1) {
			transform: translate(0, -7px);
		}

		&:nth-child(2) {
			transform: translate(0, 0);
		}

		&:nth-child(3) {
			transform: translate(0, 7px);
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				transform: translate(0, 0) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translate(0, 0) rotate(-45deg);
			}
		}
	}
}

html {
	font-size: 16px;
	font-size: 1.1111vw;
}
