
.modal__inner {
	padding: 2.5rem;
}

.modal_default {
	max-width: 35rem;
	width: 100%;
	padding: 0;
	display: none;
}

.modal_default__inner {
	padding: 2.5rem;
}

.btn_form_modal_form {
	width: 100%;
	font-family: 'Lexend Zetta', sans-serif;
}

.modal_default__title {
	font-weight: 700;
	font-size: 2rem;
	font-family: 'Lexend Zetta', sans-serif;
	margin-bottom: 2rem;
}

.is-compact .fancybox__content > .f-button.is-close-btn {
	background: transparent;
	--f-button-color: #000;
	--f-button-svg-width: 1.25rem;
	--f-button-svg-height: 1.25rem;
}

.modal_default__form .field_x__item_title {
	font-weight: 600;
	font-size: 0.88rem;
	line-height: 1.14286;
	letter-spacing: 0.02em;
	margin-bottom: 0.65rem;
}

.field_x__item_value--radio_item {
	display: inline-flex;
	align-items: center;
	gap: 0.65rem;
}

.field_x__item_value--radio_item__view {
	border-radius: 100%;
	width: 1.15rem;
	border: 1px solid #1a4980;
	height: 1.15rem;
	position: relative;
}

.field_x__item_value--radio_item__title {
	flex: 1;
}

label.field_x__item_value--radio_item input {
	position: absolute;
	opacity: 0;
}

.field_x__item_value--radio_item__view:before {
	right: 0.15rem;
	left: 0.15rem;
	bottom: 0.15rem;
	top: 0.15rem;
	content: '';
	position: absolute;
	margin: auto;
	background: #0f335c;
	border-radius: 50%;
	transition: 0.25s;
	opacity: 0;
}

.field_x__item_value.field_x__item_value--radio {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem 1.5rem;
	padding: 1rem 0 0.75rem;
}

input:checked + .field_x__item_value--radio_item__view:before {
	opacity: 1;
}


.modal_thanks__icon {
    width: 8rem;
    height: 8rem;
    display: flex;
    margin: 0 auto 2rem;
    align-items: center;
    justify-content: center;
    background:  #1A49801A;
    border-radius: 50%;
}

.modal_thanks__icon img {
    width: 55%;
    height: auto;
}

.modal_default__title--thanks {
    text-align: center;
    margin-bottom: 1.25rem;
}

.modal_default__text--thanks {
    text-align: center;
}

.modal_default__inner--thanks {
    padding: 5rem 2.5rem;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 550px) {
	.modal_default__inner {
		padding: 20px;
	}
	.modal_default__inner--thanks {padding: 65px 20px;}

	.modal_default__title {
		font-size: 24px;
		margin-bottom: 22px;
	}
}
