body {
	font-family: 'Nunito Sans', sans-serif;
	background: #f2f3f0;
}

.home__hero__promo {
	position: absolute;
	left: 1.15rem;
	bottom: -8.55rem;
	font-size: 0;
	width: 72.65%;
	pointer-events: none;
}

.home__hero__title {
	font-family: 'Koulen', sans-serif;
}

.home__hero__title-1 {
	font-weight: 400;
	font-size: 8.1rem;
	letter-spacing: -0.02em;
	color: #312a2a;
	line-height: 1.25;
}

.container {
	max-width: 84.3rem;
}

.header_main .container {
	display: flex;
	justify-content: space-between;
}

.header_main {
	padding: 1.2rem 0 1.275rem;
	border-bottom: 2px solid #1a4980;
}

.header__logo img {
	width: 5.75rem;
}

.header__info {
	display: flex;
	align-items: center;
	gap: 2.1rem;
}

.btn_header__info {
	border: 2px solid;
	border-radius: 0.25rem;
	padding: 0.775rem 2.83rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	color: #1a4980;
	font-family: 'Koulen', sans-serif;
}

.header__phone {
	color: inherit;
	text-decoration: none;
	gap: 0.5rem;
	display: inline-flex;
	align-items: center;
	font-size: 1.17rem;
}

.header__phone svg {
	width: 1rem;
	height: auto;
}

.header__phone:hover {
	color: #1a4980;
}

.header__phone:hover path {
	stroke: #1a4980;
}

.loaded .header__phone path {
	transition: 0.25s;
}

.btn_header__info:hover {
	background: #1a4980;
	color: #fff;
	border-color: #1a4980;
}

.home__hero__title-2 {
	font-weight: 400;
	font-size: 6.25rem;
	line-height: 1.3;
	letter-spacing: -0.02em;
	color: #1a4980;
	position: relative;
	line-height: 1;
}

.home__hero .container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.home__hero__info {
	flex: 1;
}

.home__hero__form {
	border: 2px solid #1a4980;
	padding: 1.75rem 1.35rem 1.35rem;
	width: 31.4rem;
	background: #fff;
	z-index: 1;
	position: relative;
}

.home__hero__form_content_title {
	font-size: 2rem;
	color: #1a4980;
	font-family: 'Koulen', sans-serif;
	margin-bottom: 2rem;
}

.home__hero {
	padding: 4rem 0 8.65rem;
	overflow: hidden;
}

.home__hero__subtitle {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.3;
	color: #312a2a;
	font-family: 'Koulen', sans-serif;
	margin-bottom: 0.7rem;
}

.field_x__item_title {
	font-weight: 700;
	font-size: 0.75rem;
	line-height: 1.33333;
	color: #222;
}

.field_x__item {
	display: flex;
	flex-wrap: wrap;
	gap: 0.05rem;
	flex-direction: column;
	flex: 1;
}

.field_x__group {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem;
	flex-direction: column;
}

.field_x__item_value input[type='text'],
.field_x__item_value input[type='email'],
.field_x__item_value input[type='phone'],
.field_x__item_value textarea {
	width: 100%;
	padding: 0.685rem 0.5rem;
	font-family: inherit;
	border: 1px solid #84858a;
	border-radius: 0.25rem;
	background: transparent;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	height: auto;
	background: 0 0;
	font-family: inherit;
	font-family: inherit;
	border: 1px solid #84858a;
	border-radius: 0.25rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: normal;
	padding: 0.65rem 2rem 0.65rem 0.5rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%2384858A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	font-size: 0;
	border: none;
	width: 1rem;
	height: 1rem;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 70%;
	margin: auto;
	position: static;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.05rem;
}

.field_x__item--checkbox__view {
	border: 1px solid #222;
	border-radius: 0.12rem;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	overflow: hidden;
}

.field_x__item--checkbox input {
	position: absolute;
	opacity: 0;
}

.field_x__item--checkbox {
	flex-direction: row;
	gap: 0.65rem;
}

.field_x__item--checkbox__title {
	font-size: 0.8725rem;
	line-height: 1.14286;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	flex: 1;
	margin-top: 0.15rem;
}

.btn_x {
	font-size: 1rem;
	line-height: 1.25;
	color: #fff;
	background: #c98929;
	border-radius: 0.25rem;
	padding: 0.88rem 1rem;

	text-transform: uppercase;
	font-family: 'Koulen', sans-serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn_form_hero {
	margin-top: -0.3rem;
}

.home__triggers {
	background: #0f335c;
	color: #fff;
	padding: 3.625rem 0 3.27rem;
}

.home__hero__promo img {
	width: 100%;
}

.btn_x:hover {
	background: #a16711;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background: #1a4980;
}

.select2-dropdown {
	border-color: #222;
}

.select2-container--default .select2-results__option--selected {
	background: #c98929;
	color: #fff;
}

input:checked + .field_x__item--checkbox__view:after {
	opacity: 1;
}

.field_x__item--checkbox__view:after {
	border-radius: 0.1rem;
	content: '';
	position: absolute;
	left: 0.15rem;
	right: 0.15rem;
	top: 0.15rem;
	bottom: 0.15rem;
	background: #0f335c;
	opacity: 0;
}

.home__triggers__title {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.16667;
	text-transform: lowercase;
	font-family: 'Koulen', sans-serif;
	text-align: center;
	margin-bottom: 2rem;
}

.home__triggers__list {
	display: flex;
	flex-wrap: wrap;
	max-width: 77rem;
	margin: 0 auto;
	gap: 1rem;
}

.home__triggers__item {
	border: 1px solid rgba(255, 255, 255, 0.1);
	flex: 1;
	padding: 2.25rem 1rem 2rem;
	text-align: center;
}

.home__triggers__item__icon {
	background: rgba(255, 255, 255, 0.1);
	width: 5.625rem;
	height: 5.625rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 0.7rem;
}

.home__triggers__item__icon img {
	width: 67%;
}

.home__triggers__item__title {
	font-weight: 700;
	text-align: center;
	color: #c8ac5f;
	margin-bottom: 0.4rem;
}

.home__triggers__item__text {
	max-width: 95%;
	margin: 0 auto;
}

.home_sliding__images {
	position: absolute;
	right: 1.225rem;
	width: 47.44rem;
	pointer-events: none;
	top: 9rem;
}

.home_sliding__images img {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0.95) translate(0, 1rem);
}

.home_sliding .container {
	position: relative;
}

.home_sliding__images img.active {
    opacity: 1;
    transform: scale(1);
    z-index: 5;
}

.home_sliding__slide__content__title {
	font-family: 'Koulen', sans-serif;
	font-size: 3rem;
	line-height: 1.16667;
	text-transform: lowercase;
	color: #312a2a;
}

.home_sliding__slide__content__step {
	font-size: 1.25rem;
	line-height: 1.3;
	text-transform: lowercase;
	color: #1a4980;
	font-family: 'Koulen', sans-serif;
	position: relative;
	padding-left: 0.95rem;
	margin-bottom: 0.5rem;
}

.__orange {
	color: #c98929;
}

.home_sliding__slide__content__step:before {
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	content: '';
	border-radius: 50%;
	background: #1a4980;
	left: -0.1rem;
	top: 0.55rem;
}

.home_sliding {
	padding: 0rem 0;
}

.home_sliding__slide__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 22.5rem;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    max-width: 27rem;
}

.loaded .home_sliding__images img {
    transition: 0.5s ease-in-out;
}
.animate__down_sliding .home_sliding__slide__content {
    opacity: 0;
    transform: translate(0, 7.5rem);
}
.home_sliding__list {padding-top: 10rem;}
.home_sliding__slide.active .btn_sliding_slide {
    width: 20rem;
}


.btn_sliding_slide {
    width: 5rem;
}

.animate__up_sliding .home_sliding__slide__content {
    opacity: 0;
    transform: translate(0, -7.5rem);
}

.home_sliding__slide.active .home_sliding__slide__content{
    opacity: 1;
    transform: translate(0,0);
}

.home_sliding__slide__content {
    opacity: 0;
    transform: translate(0,7.5rem);
}

.loaded .home_sliding__slide__content {
    transition: 0.35s ease-in-out;
}
.home_sliding__slide__content__top {
	flex: 1;
}

.home_sliding__slide__content__text {
	font-weight: 500;
	font-size: 1.035rem;
	line-height: 1.5;
	text-transform: lowercase;
	color: #312a2a;
	margin-bottom: 1rem;
}


.home_sliding__slide {
	// border-bottom: 2px solid #1a4980;
    padding-bottom: 4.5rem;
}

.home_question {
	background: #0f335c;
	color: #fff;
	padding: 3.5rem 0px;
    position: relative;
    z-index: 5;
}

.home_sliding__slide:last-child {
	border: none;
}

.home_question__title {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.16667;
	text-transform: lowercase;
	font-family: 'Koulen', sans-serif;
}

.home_question__subtitle {
	margin-bottom: 0.5rem;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.3;
	text-transform: lowercase;
	font-family: 'Koulen', sans-serif;
	position: relative;
	padding-left: 0.94rem;
}

.home_question__subtitle:before {
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	content: '';
	border-radius: 50%;
	background: #ffffff;
	left: -0.1rem;
	top: 0.55rem;
}

.home_question__item__title {
	font-size: 1.5rem;
	line-height: 1.66667;
	color: #fff;
	font-family: 'Koulen', sans-serif;
	flex: 1;
}

.home_question__item__top {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.home_question__item {
	padding: 1.75rem 0 1.6rem;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.home_question__top {
	margin-bottom: 1.7rem;
}

.home_question__item__content {
	display: none;
	padding: 2.3rem 0 0.5rem;
	font-size: 1.0375rem;
}

.home_question__item__btn {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.home_question__item__btn svg {
	width: 50%;
	height: auto;
}

.home_question__item.active .home_question__item__content {
	display: block;
}

.home__counts__item__value {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.16667;
	font-family: 'Koulen', sans-serif;
}

.home__counts__list {
	display: flex;
	flex-wrap: wrap;
	max-width: 40.45rem;
	width: 100%;
	gap: 1.9rem 0;
}

.home__counts .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home__counts__info {
	max-width: 24rem;
}

.home__counts {
	padding: 3.35rem 0 3.5rem;
	border-bottom: 2px solid #1a4980;
}

.home__counts__info__text {
	margin-bottom: 1.95rem;
}

.btn_home__counts {
	width: auto;
}

.home__counts__item {
	width: 50%;
}

.home__counts__item__text {
	margin-top: 0.45rem;
}

.portfolio_home__title {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.16667;
	text-transform: lowercase;
	color: #312a2a;
	font-family: 'Koulen', sans-serif;
	max-width: 16rem;
	margin-bottom: 2rem;
}

.home_question__item:hover .home_question__item__btn svg {
	transform: rotate(-90deg);
	opacity: 0.5;
}

.loaded .home_question__item__btn svg {
	transition: 0.25s;
}

.home_question__item.active .home_question__item__btn svg {
	transform: rotate(-90deg);
	opacity: 0.5;
}

.portfolio_home__subtitle:before {
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	content: '';
	border-radius: 50%;
	background: #1a4980;
	left: -0.1rem;
	top: 0.55rem;
}

.portfolio_home__subtitle {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.3;
	text-transform: lowercase;
	color: #1a4980;
	font-family: 'Koulen', sans-serif;
	position: relative;
	padding-left: 1rem;
	margin-bottom: 0.5rem;
}

.portfolio_home {
	padding: 3.45rem 0 6.57rem;
}

.portfolio_home__info {
	max-width: 19.25rem;
}

.portfolio_home__text {
	font-size: 0.995rem;
	line-height: 1.5;
	text-transform: lowercase;
	margin-bottom: 1rem;
}

.portfolio_home__text p {
	margin-bottom: 1.25rem;
}

.portfolio_home__text p:last-child {
	margin-bottom: 0;
}

.portfolio_home .container {
	display: flex;
	flex-wrap: nowrap;
	gap: 8.34rem;
}

.portfolio_home__items {
	overflow-x: scroll;
	margin-right: calc(-1 * (1.25rem + (100vw - 84.3rem) / 2));
	padding-top: 14.5rem;
	padding-right: calc((1.25rem + (100vw - 84.3rem) / 2));
}

.portfolio_home__items::-webkit-scrollbar {
	display: none;
}

.portfolio_home__items {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.portfolio_home__list {
	display: flex;
	width: fit-content;
	padding-bottom: 0.92rem;
	gap: 2rem;
}

.home_object__item {
	width: 25rem;
}

.home_object__item__image img {
	aspect-ratio: 16/12;
}

.home_object__item__image {
	font-size: 0;
	border-radius: 0.25rem;
	overflow: hidden;
	margin-bottom: 0.95rem;
    overflow: hidden;
}

.home_object__item__link {
	font-size: 1.25rem;
	line-height: 1.3;
	color: inherit;
	font-family: 'Koulen', sans-serif;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
}

.home_object__item__link span {
	flex: 1;
}

.home_object__item__link svg {
	width: 1rem;
	height: auto;
}

.home_object__item__title {
	margin-bottom: 0.55rem;
}

.home_object__item__text_1 {
	margin-bottom: 0.45rem;
}

.home_object__item__link:hover {
	opacity: 0.5;
}

.footer__top__title {
	font-size: 2rem;
	line-height: 1.3125;
	font-family: 'Koulen', sans-serif;
	flex: 1;
}

.main_footer {
	background: #16273c;
	color: #fff;
	padding: 3.5rem 0;
}

.fixed__call {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 9;
	background: #12ab74;
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
}

.loaded .fixed__call {
	transition: 0.25s;
}

.fixed__call:hover {
	background: #0f335c;
}

.footer__top .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main_footer .container {
	max-width: 82.5rem;
}

.footer__top__contact_item__value {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.3125;
	font-family: 'Koulen', sans-serif;
}

.footer__top__contact_item__value a {
	color: inherit;
	text-decoration: none;
}

.footer__top__contact_item__value a:hover {
	opacity: 0.5;
}

.footer__top__content {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	flex: 1;
}

.footer_form__title {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.16667;
	font-family: 'Koulen', sans-serif;
	margin-bottom: 2.6rem;
}

.footer__top__form {
	flex: 1;
	max-width: 34.5rem;
}

.footer_form__content .field_x__item_title {
	color: inherit;
	font-size: 0.725rem;
    margin-bottom: 0.5rem;
}

.field_x__row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.footer_form__content .field_x__group {
	gap: 2.2rem;
}

.field_x__item_value textarea {
	resize: vertical;
	min-height: 6.475rem;
}

.btn_form_footer {
	margin-top: -0.6rem;
}

.footer__top__contact_list {
	display: flex;
	flex-direction: column;
	gap: 1.85rem;
}

.footer__bottom__copy {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 1.28571;
}

.footer__bottom__info {
	text-align: right;
	display: flex;
	flex-direction: column;
}

.footer__top {
	border-bottom: 2px solid #fff;
	padding-bottom: 3.45rem;
}

.footer__bottom {
	padding: 3.6rem 0px 0.5rem;
}

.footer__bottom .container {
	max-width: 84.95rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.footer__social {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	flex: 1;
	font-size: 0;
}

.footer__social__link {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__social__link svg {
	width: 70%;
	height: auto;
}

.footer__social__link:hover {
	opacity: 0.5;
}

.footer__bottom__info__inner {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	justify-content: flex-end;
	align-items: flex-end;
}

.footer__bottom__logo {
	font-size: 0;
	width: 7.5rem;
}

.footer__bottom__logo img {
	width: 100%;
}

.footer_form__content .field_x__item_value input[type='text'],
.footer_form__content .field_x__item_value input[type='email'],
.footer_form__content .field_x__item_value input[type='phone'],
.footer_form__content .field_x__item_value textarea {
	border-color: #fff;
    color: #fff;
    padding: .875rem .75rem;
}

.home_sliding__slide__content__image {
    display: none;
}



.modal__inner {
    padding: 2.5rem
}

.modal_default {
    max-width: 32rem;
    width: 100%;
    padding: 0;
    display: none
}

.modal_default__inner {
    padding: 2rem;
}

.btn_form_modal_form {
    width: 100%;
}

.modal_default__title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: lowercase;
    color: #312a2a;
    font-family: Koulen, sans-serif;
    margin-bottom: 18px;
}

.is-compact .fancybox__content>.f-button.is-close-btn {
    background: 0 0;
    --f-button-color: #000;
    --f-button-svg-width: 1.25rem;
    --f-button-svg-height: 1.25rem
}
.btn_x[disabled] {
    filter: grayscale(1);
    pointer-events: none;
}

/*  media */
@media screen and (min-width: 1800px) {
	html {
		font-size: 20px;
	}
}

@media screen and (max-width: 950px) {
	html {
		font-size: 14px;
	}

	.btn_header__info {
		padding: 8px 15px;
	}

	.header__info {
		gap: 19px;
	}

	.header__logo img {
		width: 70px;
	}

	.header__phone {
		font-size: 15px;
	}

	.header_main {
		padding: 12.5px 0;
	}

	.home__hero__title-1 {
		font-size: 55px;
	}

	.home__hero__title-2 {
		font-size: 50px;
	}

	.home__hero__form_content_title {
		font-size: 22px;
	}

	.home__hero__form {
		flex: 1;
		padding: 20px;
		width: auto;
	}

	.home__hero__info {
		width: 350px;
		flex: none;
	}

	.home__hero__promo {
		width: auto;
		left: -1.25rem;
		right: -1.25rem;
		bottom: -10.5rem;
	}

	.home__hero .container {
		flex-wrap: nowrap;
		gap: 10px;
	}

	.home__triggers__item {
		flex: none;
		width: calc(50% - 0.5rem);
	}

	.home__triggers__title {
		font-size: 35px;
		margin-bottom: 35px;
	}

	.portfolio_home__items {
		margin-right: -1.25rem;
		padding-top: 14.5rem;
		padding-right: 1.25rem;
	}

	.home_object__item {
		width: 20rem;
	}

	.portfolio_home .container {
		gap: 3.5rem;
	}

	.home__counts__list {
		max-width: 26rem;
	}

	.home__counts__info {
		flex: 1;
		max-width: 19rem;
	}
    .home_sliding__images {
        display: none;
    }

    .home_sliding__slide__content__image {
        display: block;
    }

    .home_sliding__list {
        padding-top: 0;
    }

    .home_sliding__slide__content {
        opacity: 1;
        transform: translate(0,0);
        min-height: auto;
        padding-bottom: 0;
        padding-top: 0;
    }

    .home_sliding__slide {
        padding-bottom: 50px;
        padding-top: 0;
    }

    .home_sliding__slide.active .btn_sliding_slide {
        width: auto;
    }
}

@media screen and (max-width: 750px) {
    .home_sliding__slide__content__image {
        display: block;
    }

    .home_sliding__images {
        display: none;
    }
	.home__hero .container {
		flex-direction: column;
		gap: 25px;
	}

	.home__hero__title-2 {
		height: 3.76rem;
	}

	.home__hero__form {
		max-width: 450px;
		margin: 0 auto;
		width: 100%;
	}

	.home__hero__info {
		width: 450px;
		margin: 0 auto;
	}

	.home__hero {
		padding: 40px 0;
	}

	.home__hero__promo img {
		width: 1500px;
		max-width: none;
		transform: translate(-40%, 0);
	}

	.footer__top__form {
		flex: none;
		width: 100%;
		border-top: 1px solid #ffffff54;
		padding-top: 30px;
	}

	.footer__top__content {
		flex: none;
		width: 100%;
		margin-bottom: 30px;
		gap: 32px;
	}

	.footer__top__title {
		font-size: 24px;
	}

	.main_footer {
		padding: 40px 0 0;
	}

	.footer__top__contact_item__value {
		font-size: 20px;
		margin-top: 4px;
	}

	.footer__top__contact_list {
		gap: 26px;
	}

	.footer__top__contact_item__title {
		font-size: 13px;
	}

	.footer_form__title {
		font-size: 30px;
		margin-bottom: 24px;
	}

	.footer_form__content .field_x__item_title {
		margin-bottom: 10px;
		font-size: 12px;
		font-weight: 400;
	}

	.field_x__row {
		flex-direction: column;
		gap: 22px;
	}

	.field_x__item_value input[type='text'],
	.field_x__item_value input[type='email'],
	.field_x__item_value input[type='phone'],
	.field_x__item_value textarea {
		padding: 12px;
	}

	.footer_form__content .field_x__group {
		gap: 22px;
	}

	.footer__top {
		padding-bottom: 40px;
		border-bottom-width: 1px;
	}

	.footer__bottom {
		padding: 24px 0 32px;
	}

	.footer__bottom__info__inner {
		gap: 2px;
	}

	.footer__bottom__copy {
		font-size: 12px;
	}

	.home_question__title {
		font-size: 30px;
		margin-bottom: 0;
		max-width: 320px;
	}

	.home_question__top {
		margin-bottom: 10px;
	}

	.home_question__item__title {
		font-size: 16px;
	}

	.home_question__item {
		padding: 18px 0 18px;
	}

	.home_question__item__btn {
		width: 20px;
		height: 20px;
	}

	.home_question {
		padding: 40px 0;
	}

	.home_question__subtitle {
		margin-bottom: 10px;
	}

	.home_question__item__content {
		font-size: 13px;
		line-height: 1.55;
		padding: 1.35rem 0 0.5rem;
	}

	.home__counts {
		padding: 32px 0;
	}

	.home__counts__list {
		max-width: 100%;
		gap: 2rem 1rem;
	}

	.home__counts__info {
		margin-bottom: 30px;
	}

	.home__counts__item {
		width: calc(50% - 0.5rem);
	}

	.home__counts__item__text {
		max-width: 120px;
	}

	.portfolio_home {
		padding: 32px 0;
	}

	.portfolio_home__info {
		max-width: 100%;
	}

	.portfolio_home .container {
		flex-wrap: wrap;
		gap: 35px;
	}

	.portfolio_home__title {
		font-size: 34px;
		max-width: 310px;
		margin-bottom: 16px;
	}

	.portfolio_home__items {
		padding: 0 1.25rem;
		margin: 0 -1.25rem;
	}

	.portfolio_home__list {
		gap: 16px;
		padding-bottom: 0;
	}

	.home_object__item {
		max-width: 250px;
	}

	.home_sliding__slide__content__title {
		font-size: 30px;
		max-width: 300px;
		margin-top: 10px;
	}

	.home_sliding__slide__content__step {
		font-size: 14.65px;
	}

	.home_sliding__slide__content {
		padding: 32px 0;
		min-height: auto;
	}
}

@media screen and (max-width: 550px) {
	.home__hero__title-1 {
		font-size: 46px;
		line-height: 1;
	}

	.home__hero__subtitle {
		font-size: 16px;
		margin-bottom: 19px;
	}

	.home__hero__promo img {
		width: 1500px;
		transform: translate(-44.75%, 0);
	}

	.home__hero__title-2 {
		font-size: 49.25px;
	}

	.home__hero__form_content_title {
		margin-bottom: 15px;
	}

	.home__hero__form {
		padding: 20px;
	}

	.home__triggers__title {
		font-size: 30px;
		margin-bottom: 25px;
	}

	.home__triggers {
		padding: 44px 0;
	}

	.home__triggers__item__title {
		font-size: 14px;
		line-height: 1.45;
		margin-bottom: 14px;
	}

	.home__triggers__item__text {
		font-size: 12.5px;
		line-height: 1.45;
	}

	.home__triggers__item {
		padding: 2.25rem 0.15rem 2rem;
		width: calc(50% - 0.25rem);
	}

	.home__triggers__item__icon {
		margin-bottom: 16px;
	}

	.home__triggers__list {
		gap: 0.5rem 0.5rem;
	}
}
