.home__hero {
	background: #0f335c;
	color: #fff;
	padding: 4rem 0;
}

.header_main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #0f335c;
	color: #fff;
	border-bottom: 1px solid #e1e1dc;
	padding: 1rem 0;
	z-index: 10;
}

.home__welcome {
	background: #0f335c;
	color: #fff;
	padding: 9rem 0 7.5rem;
}

.header_main .container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.header_menu > ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 2.05rem;
}

.header_menu .sub-menu {
	list-style: none;
	position: absolute;
	pointer-events: none;
	opacity: 0;
	transform: translate(0, -0.25rem);
	top: calc(100% + 1.8rem);
	background: #0f335c;
	border: 1px solid;
	min-width: 11.5rem;
	padding: 0.75rem 0;
	left: 0;
}

.header_menu a {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
}

.header_menu {
	margin: 0 auto;
}

.header__logo img {
	width: 100%;
	height: auto;
}

.header__logo {
	width: 5.75rem;
}

.has_submenu > a {
	padding-right: 1.125rem;
	position: relative;
}

.header_btn_menu {
	display: none;
}

.header__info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.26rem;
	justify-content: flex-end;
	max-width: 30rem;
}

.btn_header_login {
	font-family: 'Lexend Zetta', sans-serif;
	border: 1px solid;
	display: inline-flex;
	padding: 0.6rem 0.95rem;
}

.header__phone {
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: 0.55rem;
}

.has_submenu > a:after {
	content: '';
	position: absolute;
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.82275 12L12.6454 6.77827' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.82269 12L3 6.77827' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	width: 1rem;
	height: 1rem;
	right: -0.15rem;
	top: 0.2rem;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.header__phone svg {
	width: 1rem;
	height: auto;
}

.home__hero__image__value img {
	width: 100%;
}

.loaded .has_submenu > a:after {
	transition: 0.25s;
}

.page__container {
	padding-top: 5rem;
}

.home__hero .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.home__hero__info {
	width: 59%;
	margin-bottom: 2.15rem;
}

.home__hero__title-2__mask {
	overflow: hidden;
    position: relative;
	height: 4rem;
}

.home__hero__title {
	font-family: 'Lexend Zetta', sans-serif;
	font-size: 3rem;
	line-height: 1.5;
}

.home__hero__subtitle {
	font-weight: 400;
	font-size: 0.88rem;
	margin-bottom: 0.82rem;
}

.loaded .header_menu .sub-menu {
	transition: 0.25s;
}

.home__hero__title-2 {
	color: #c8ac5f;
}

.home__hero__form_content {
	position: absolute;
	right: 1.25rem;
	top: -1rem;
	width: calc(41.2% - 1.25rem);
	border: 1px solid #e1e1dc;
	padding: 1.4rem;
	background: #fff;
	color: #222;
}

.home__hero__form_content_title {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
	font-family: 'Lexend Zetta', sans-serif;
	margin-bottom: 1.3rem;
}

.home__hero__image {
	font-size: 0;
	margin: 0 calc(-1 * (1.25rem + (100vw - 79.5rem) / 2));
	width: 100vw;
	position: relative;
}

.home__hero__image__line {
    position: absolute;
    left: 0;
    top: -0.25rem;
    width: 50%;
    height: 6.1rem;
    background: #0f335c;
}

.home__hero__image__value img {
	aspect-ratio: 16/6.14;
}

.field_x__item_title {
	font-weight: 400;
	font-size: 0.88rem;
	line-height: 1.14286;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

.field_x__group {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.field_x__item {
	flex: 1;
}

.field_x__row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.field_x__item_value input,
.field_x__item_value textarea {
	width: 100%;
	border-radius: 0;
	border: 1px solid #666;
	padding: 0.87rem 0.5rem;
	font-family: inherit;
}

.field_x__item_value textarea {
	min-height: 5.95rem;
}
.btn_form_hero {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: 'Lexend Zetta', sans-serif;
}

.field_x__item--checkbox {
	display: flex;
	align-items: flex-start;
	position: relative;
	gap: 0.5em;
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
	border: 1px solid #666;
	height: auto;
	background: transparent;
	font-family: inherit;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: normal;
	padding: 0.65rem 2rem 0.65rem 0.5rem;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%2384858A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	font-size: 0;
	border: none;
	width: 1rem;
	height: 1rem;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 70%;
	margin: auto;
	position: static;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.05rem;
}

.field_x__item--checkbox__view {
	border: 1px solid #222;
	border-radius: 0.12rem;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	overflow: hidden;
}

.field_x__item--checkbox input {
	position: absolute;
	opacity: 0;
}

.field_x__item--checkbox__title {
	font-weight: 400;
	font-size: 0.88rem;
	line-height: 1.14286;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-top: 0.125rem;
}

.btn_gold {
	padding: 0.95rem 1rem;
	background: #c98929;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn_gold:hover {
	background: #c95929;
}

.btn_header_login:hover {
	background: #c98929;
	color: #fff;
	border-color: #c98929;
}

.header__phone:hover {
	color: #c98929;
}

.header__phone:hover path {
	stroke: #c98929;
}

.loaded .header__phone path {
	transition: 0.25s;
}

.header_menu a:hover {
	color: #c98929;
}

.has_submenu:hover .sub-menu {
	opacity: 1;
	transform: translate(0, 0);
	pointer-events: all;
}

.has_submenu {
	position: relative;
}

.header_menu .sub-menu a {
	font-size: 0.9rem;
	padding: 0.35rem 0.85rem;
	display: inline-flex;
}

.header_menu .sub-menu:before {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 100%;
	content: '';
	height: 1.8rem;
	opacity: 0;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable {
	background: #ccc;
}

.select2-container--default
	.select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
	background: #c98929;
	color: #fff;
}

.select2-results__option {
	font-size: 1rem;
	padding: 0.65rem 1rem;
}

.select2-dropdown {
	border-color: #666;
	border-radius: 0;
}

input:checked + .field_x__item--checkbox__view:after {
	opacity: 1;
}

.field_x__item--checkbox__view:after {
	border-radius: 0.1rem;
	content: '';
	position: absolute;
	left: 0.15rem;
	right: 0.15rem;
	top: 0.15rem;
	bottom: 0.15rem;
	background: #000;
	opacity: 0;
}

li.has_submenu:hover a:after {
	transform: rotate(180deg) translate(0, -0.2rem);
	filter: brightness(0.45);
}

.home__welcome_title {
	font-weight: 500;
	font-size: 2rem;
	font-family: 'Lexend Zetta', sans-serif;
	line-height: normal;
	margin-bottom: 1rem;
}

.gold_text {
	color: #c8ac5f;
}

.home__welcome_row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: flex-start;
}

.home__welcome_col--3 {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
}

.home__welcome_col {
	flex: 1;
}

.home__welcome_col.home__welcome_col--1 {
	max-width: 18.5rem;
}

.home__welcome_text {
	max-width: 16rem;
	line-height: normal;
	margin-bottom: 1.95rem;
}

.btn_home__welcome {
	width: 100%;
	max-width: 13.75rem;
	padding: 0.8rem;
	font-family: 'Lexend Zetta', sans-serif;
}

.home__welcome_text p {
	margin-bottom: 1.5rem;
}

.home__welcome_text p:last-child {
	margin-bottom: 0;
}

.home__welcome_col--3 {
	max-width: 25rem;
}

.home__welcome_col--3__text p {
	margin-bottom: 1.5rem;
}

.home__welcome_col--3__text p:last-child {
	margin-bottom: 0;
}

.home__welcome_col--3__text {
	line-height: normal;
	margin-top: 2rem;
}

.home__welcome_image__inner {
	font-size: 0;
	height: 100%;
	width: 100%;
}

.home__welcome_image--1 {
	aspect-ratio: 1/1.11;
	overflow: hidden;
}

.home__welcome_image--2 {
	aspect-ratio: 1/0.73;
	overflow: hidden;
}

.home__welcome_image__inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page__container {
	position: relative;
}

.page__container:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0rem;
	height: 5rem;
	background: #0f335c;
}

.home__triggers__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.home__triggers__item {
	border: 1px solid rgba(34, 34, 34, 0.1);
	padding: 2.25rem 1rem 1.925rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc((100% - 3rem) / 4);
}

.home__triggers__title {
	font-weight: 400;
	font-size: 2.75rem;
	text-align: center;
	color: #222;
	font-family: 'Lexend Zetta', sans-serif;
	margin-bottom: 3.525rem;
}

.home__triggers {
	padding: 7.3rem 0 7.25rem;
}

.home__triggers__item__icon {
	width: 5.625rem;
	height: 5.625rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0;
	background: rgba(26, 73, 128, 0.1);
	margin-bottom: 0.7rem;
}

.home__triggers__item__icon img {
	width: 62%;
	height: 80%;
	object-fit: contain;
}

.home__triggers__item__title {
	text-align: center;
	color: #0f335c;
	font-family: 'Lexend Zetta', sans-serif;
	line-height: normal;
	margin-bottom: 0.5rem;
	min-height: 2.5rem;
}

.home__triggers__item__text {
	margin: 0 auto;
	max-width: 16.5rem;
	text-align: center;
	line-height: normal;
}

.home__counts__info__text {
	font-size: 0.8725rem;
	line-height: normal;
	margin-bottom: 2rem;
}

.home__counts {
	color: #fff;
	background: #0f335c;
	padding: 7.5rem 0 8.875rem;
}

.home__counts .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home__counts__info {
	width: 32%;
}

.home__counts__list {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	max-width: 38.2rem;
	flex-wrap: wrap;
	gap: 1rem;
}

.btn_home__counts {
	padding: 0.8rem 2.585rem;
	font-family: 'Lexend Zetta', sans-serif;
}

.home__counts__info__text p {
	margin-bottom: 1.5rem;
}

.home__counts__info__text p:last-child {
	margin-bottom: 0;
}

.home__counts__item__value {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.05;
	font-family: 'Lexend Zetta', sans-serif;
	margin-bottom: 0.55rem;
}

.home__counts__item {
	width: calc(50% - 0.6rem);
}

.home__counts__item__text {
	font-size: 0.88rem;
}

.home_lending {
	background: rgba(19, 48, 82, 0.5);
	color: #fff;
	padding: 7.275rem 0;
	min-height: 56.25rem;
	background-image: url('../images/__content/pages/home/lending.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.home_lending__title {
	font-weight: 400;
	font-size: 2.75rem;
	font-family: 'Lexend Zetta', sans-serif;
	margin-bottom: 1.9rem;
}

.home_lending__text {
	max-width: 47rem;
	line-height: normal;
}

.home_lending__line ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	gap: 1.82rem;
}

.home_lending__line {
	margin-top: 1.45rem;
	margin-bottom: 31px;
}

.home_lending__line li:before {
	width: 0.825rem;
	height: 0.825rem;
	border-radius: 50%;
	content: '';
	border: 2px solid #fff;
	position: absolute;
	left: 0;
	top: 0.15rem;
}

.home_lending__line li {
	position: relative;
	padding-left: 1.325rem;
}

.btn_home__lending {
	font-family: 'Lexend Zetta', sans-serif;
	padding: 0.785rem 1rem;
}

.home_why_look__title {
	font-size: 2rem;
	font-family: 'Lexend Zetta', sans-serif;
}

.home_why_look {
	line-height: normal;
	background: #0f335c;
	color: #fff;
	padding: 7.55rem 0;
}

.home_object {
	background: #0f335c;
	color: #fff;
	padding: 0.925rem 0 7.45rem;
}

.home_why_look .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home_why_look__info {
	padding-left: 6.5rem;
	max-width: 27rem;
}

.home_why_look__subtitle {
	margin-bottom: 0.95rem;
}

.home_why_look__text {
	width: 49.35%;
	padding-top: 0rem;
	padding-right: 6.5rem;
}

.home_why_look__text__content {
	margin-bottom: 1rem;
}

.home_why_look__text__content p {
	margin-bottom: 1.5rem;
}

.home_why_look__text__content p:last-child {
	margin-bottom: 0;
}

.btn_home_why_look {
	width: 100%;
	max-width: 21.25rem;
	padding: 0.85rem 0.5rem;
	font-family: 'Lexend Zetta', sans-serif;
}

.home_object__item {
	width: 25rem;
	margin-right: 2rem;
	display: inline-flex;
	flex-direction: column;
}

.home_object__list {
	display: flex;
	width: fit-content;
	padding-bottom: 0.92rem;
}

.home_object__block {
	overflow-x: scroll;
	margin: 0 calc(-1 * (1.25rem + (100vw - 79.5rem) / 2));
	padding-left: calc((1.25rem + (100vw - 79.5rem) / 2));
}

.home_object__item__image img {
	aspect-ratio: 5/3.75;
	object-fit: cover;
}

.home_object__item__title a {
	font-weight: 500;
	font-size: 1.25rem;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: 0.45rem;
}

.home_object__item__image {
	margin-bottom: 0.7rem;
}

.home_object__item__title a:hover svg {
	transform: translate(0.5rem, 0);
}

.home_object__item__title a svg {
	transition: 0.25s;
}

.home_object__item__title {
	margin-bottom: 0.65rem;
}

.home_object__item__text_1 {
	margin-bottom: 0.6rem;
}

.home_object__item__title a:hover {
	color: #c98929;
}

.home_object__block::-webkit-scrollbar {
	height: 2px;
}

.home_object__block::-webkit-scrollbar-track {
	background-color: rgb(225 225 220 / 10%);
}

.home_object__block::-webkit-scrollbar-thumb {
	background: #c8ac5f;
}

.home_review__title {
	margin-bottom: 1.15rem;
	font-size: 2.75rem;
	font-family: 'Lexend Zetta', sans-serif;
}

.home_review__top {
	text-align: center;
	max-width: 20rem;
	margin: 0 auto;
	margin-bottom: 3.85rem;
}

.home_review {
	padding: 7.4rem 0 5.6rem;
	line-height: normal;
}

.home_review__text {
	margin-bottom: 1rem;
}

.btn_home_review__more {
	font-family: 'Lexend Zetta', sans-serif;
	padding: 0.85rem 1rem;
}

.home_review__slide {
	padding: 0 0.5rem;
}

.home_review__slide__content {
	border: 1px solid rgba(200, 172, 95, 0.3);
	border-radius: 0.25rem;
	padding: 1.25rem;
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='32' viewBox='0 0 38 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5684 3.69007C14.359 4.30496 15.1977 4.87041 16.0845 5.38655C13.5912 6.41706 11.6801 7.62476 10.386 9.02671L10.3859 9.02664L10.3789 9.03456C8.98897 10.6058 8.08298 12.4502 7.66148 14.5578L7.54186 15.1558H8.15177H16.4106V31.5H0.582811L0.5 20.9865C0.5 20.9858 0.5 20.9851 0.5 20.9845C0.500221 16.0705 1.32861 11.779 2.97022 8.09825C4.60597 4.55563 7.04673 2.065 10.2951 0.595029C11.5285 1.82179 12.6119 2.84741 13.5445 3.67031L13.5562 3.68056L13.5684 3.69007ZM33.5142 3.69007C34.3048 4.30496 35.1436 4.87041 36.0303 5.38655C33.537 6.41706 31.6259 7.62476 30.3318 9.02671L30.3317 9.02664L30.3247 9.03456C28.9348 10.6058 28.0288 12.4502 27.6073 14.5578L27.4877 15.1558H28.0976H35.4892V31.5H20.5286L20.4458 20.9865C20.4458 20.9858 20.4458 20.9851 20.4458 20.9845C20.446 16.0705 21.2744 11.779 22.916 8.09825C24.5518 4.55563 26.9926 2.065 30.2409 0.59503C31.4743 1.82179 32.5577 2.8474 33.4903 3.67031L33.502 3.68056L33.5142 3.69007Z' stroke='%231A4980'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 2.375rem auto;
	padding: 3.875rem 1.215rem 1.2rem;
	background-position: 1.225rem 1.225rem;
	display: flex;
	flex-direction: column;
	gap: 4.22rem;
}

.home_review__slider {
	margin: 0 calc(-1 * (1.25rem + (100vw - 79.5rem) / 2));
	width: 100vw;
}

.home_review__slide_name {
	font-family: 'Lexend Zetta', sans-serif;
	font-weight: 700;
}

.home_review__slide_date {
	font-weight: 400;
	font-size: 0.88rem;
	line-height: 1.28571;
	color: #464646;
}

.main_footer {
	background: #25364b;
	color: #fff;
	position: relative;
	padding-bottom: 3.75rem;
}

.main_footer .container {
	max-width: 82.5rem;
}

.main_footer:before {
	width: 1px;
	height: 100%;
	background: #5a799f;
	content: '';
	position: absolute;
	left: 46.05%;
}

.main_footer__content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.main_footer__contact {
	width: 45.6%;
	padding-top: 7.55rem;
	display: flex;
	flex-direction: column;
	padding-right: 5rem;
	font-size: 1.12rem;
}

.main_footer__phone,
.main_footer__mail {
	color: inherit;
	text-decoration: none;
	margin-bottom: 1.12rem;
}

.main_footer__logo {
	margin-top: 0.9rem;
	font-size: 0;
	margin-bottom: 2rem;
}

.main_footer__logo img {
	width: 5.775rem;
}

.main_footer__adress {
	line-height: normal;
	margin-bottom: 1.65rem;
}

.main_footer__social {
	flex-wrap: wrap;
	display: flex;
	margin-left: -0.25rem;
	gap: 1.55rem;
}

.main_footer__social a {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_footer__form {
	flex: 1;
	padding: 0 1.5rem 0 6.5rem;
	padding-top: 7.35rem;
}

.main_footer__bottom {
	margin-top: 0.75rem;
	width: 45.6%;
	font-size: 0.88rem;
	line-height: 1.28571;
}

.main_footer__form__title {
	font-size: 2rem;
	font-family: 'Lexend Zetta', sans-serif;
	margin-bottom: 1.8rem;
}

.main_footer__form__x input[type='text'],
.main_footer__form__x input[type='email'],
.main_footer__form__x input[type='phone'],
.main_footer__form__x textarea {
	background: transparent;
	color: #fff;
	border-color: #fff;
}

.main_footer__form__x .field_x__item_title {
}

.main_footer__form__x .field_x__group {
	gap: 2rem;
}

.main_footer__bottom__likns a {
	color: inherit;
	text-decoration: none;
}

.main_footer__bottom:before {
	content: '';
	position: absolute;
	left: 0;
	background: #5a799f;
	height: 1px;
	width: 46.1%;
	margin-top: -3.825rem;
}

.main_footer__bottom__likns {
	display: flex;
	gap: 0.5rem 1rem;
	margin-bottom: 0.55rem;
	flex-wrap: wrap;
}

.main_footer__phone:hover,
.main_footer__mail:hover {
	color: #c98929;
}

.main_footer__bottom__likns a:hover {
	color: #c98929;
}

.main_footer__social__link:hover path {
	stroke: #c98929;
}

.main_footer__social__link path {
	transition: 0.25s;
}

.home_review__slider__block__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.home_review__slider__arrow {
    background: #F3F3F380;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: 0.25s;
}

.home_review__slider__arrow svg {
    width: 50%;
    height: auto;
}

.home_review__slider__arrow:hover {
    background: #efe6d0;
}

.home_review__slider__block__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}


.home_review__slider__arrow {
    background: #F3F3F380;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: 0.25s;
}

.home_review__slider__arrow svg {
    width: 50%;
    height: auto;
}

.home_review__slider__arrow:hover {
    background: #efe6d0;
}

.fixed__call {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9;
    background: #12AB74;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
}

.loaded .fixed__call {
    transition: 0.25s;
}

.fixed__call:hover {
    background: #c8ac5f;
    border-color: #c8ac5f;
}

.btn_gold[disabled] {
    pointer-events: none;
    background: #ccc;
}


@media screen and (min-width: 1800px) {
	html {
		font-size: 20px;
	}
	.home__hero__image {
		margin: 0 calc(-1 * (1.25rem + (100vw - 1590px) / 2));
	}
}

@media screen and (max-width: 950px) {
	html {
		font-size: 14px;
	}

	.header_menu {
		display: none;
	}

	.header__info {
		flex: 1;
		justify-content: flex-end;
		max-width: none;
	}

	.header_btn_menu {
		display: flex;
	}

	.page__container {
		padding-top: 71px;
	}

	.home__hero__title {
		font-size: 33px;
	}

	.home__hero__subtitle {
		font-size: 1rem;
	}

	.home__hero__image {
		margin: 0 -1.25rem;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.home__hero__form_content {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		width: 100%;
		top: auto;
		left: auto;
		right: auto;
		max-width: 500px;
		margin-top: 0px;
	}

	.home__hero__form {
		width: 100%;
		position: relative;
		padding: 35px 0;
	}

	.home__hero__info {
		margin: 0 auto 30px;
		width: 500px;
	}

	.home__hero__image__value {
		height: 100%;
	}

	.home__hero__image__value img {
		aspect-ratio: auto;
		height: 100%;
		object-fit: cover;
	}

	.home__hero {
		padding-bottom: 0;
		padding-top: 50px;
	}

	.home__welcome {
		padding: 50px 0;
	}

	.home__welcome_col.home__welcome_col--1 {
		max-width: 100%;
		width: 100%;
		flex: none;
		margin-bottom: 25px;
	}

	.home__welcome_row {
		max-width: 750px;
		margin: 0 auto;
	}

	.home__welcome_text {
		max-width: 100%;
	}

	.home__welcome_col--3 {
		max-width: 22.5rem;
	}
	.home__triggers__title {
		font-size: 24px;
		max-width: 500px;
		margin: 0 auto 50px;
	}

	.home__triggers {
		padding: 50px 0;
	}

	.home__triggers__item {
		width: calc((100% - 1rem) / 2);
	}

	.home__triggers__list {
		max-width: 700px;
		margin: 0 auto;
	}

	.home__counts {
		padding: 60px 0;
	}

	.home__counts__info {
		width: 100%;
		max-width: 400px;
	}

	.home__counts .container {
		flex-direction: column;
		gap: 50px;
		max-width: calc(700px + 2.5rem);
	}

	.home__counts__list {
		max-width: 100%;
		gap: 2.5rem 1rem;
	}

	.home_lending {
		padding: 55px 0;
		min-height: 550px;
	}

	.home_lending__title {
		font-size: 30px;
	}

	.home_lending__text {
		max-width: 500px;
		line-height: 1.75;
	}

	.home_lending__line {
		margin: 35px 0;
	}
	.home_object__block {
		margin: 0 -1.25rem;
		padding-left: 1.25rem;
	}

	.home_object__list {
		padding-bottom: 40px;
	}

	.home_why_look {
		padding: 70px 0 10px;
	}

	.home_why_look__info {
		padding-left: 0;
	}

	.home_why_look__title {
		font-size: 24px;
		max-width: 250px;
		line-height: 1.45;
	}

	.home_why_look__text__content {
		margin-bottom: 25px;
	}

	.home_object__item {
		width: 20rem;
	}

	.home_object__item__image img {
		aspect-ratio: 3/2;
	}

	.home_object {
		padding: 60px 0;
	}

	.home_review {
		padding: 55px 0;
	}

	.home_review__slider {
		margin: 0 -1.25rem;
	}

	.home_review__title {
		font-size: 30px;
	}

	.home_why_look__text {
		padding-right: 0;
		min-width: 400px;
	}

	.home_why_look .container {
		gap: 30px;
	}

	.main_footer__contact {
		width: 100%;
		padding: 55px 0 30px;
	}

	.main_footer:before {
		display: none;
	}

	.main_footer__form {
		padding: 30px 0;
		border-top: 1px solid #52688c;
		border-bottom: 1px solid #52688c;
	}

	.main_footer__bottom {
		width: 100%;
		position: relative;
		padding-top: 30px;
	}

	.main_footer__bottom:before {
		display: none;
	}
	.home_why_look__text {
		min-width: auto;
		width: 100%;
		line-height: 1.75;
	}


	.home_why_look__title {
		font-size: 22px;
		max-width: 230px;
	}

	.home_why_look .container {
		gap: 22px;
	}

	.home_why_look {
		padding: 50px 0 0;
	}

	.home_why_look__text__content {
		margin-bottom: 30px;
	}

	.btn_home_why_look {
		max-width: 100%;
	}

	.home_object {
		padding-top: 50px;
		padding-bottom: 45px;
	}

	.home_object__item {
		width: 275px;
		margin-right: 20px;
	}

	.home_review {
		padding: 40px 0;
	}

	.home_review__top {
		margin-bottom: 40px;
	}

	.btn_home_review__more {
		width: 100%;
		margin-top: 10px;
	}
}

@media screen and (max-width: 550px) {
	.btn_header_login {
		display: none;
	}

	.header__logo {
		width: 70px;
	}

	.header_main {
		padding: 10px 0 15px;
	}

	.page__container {
		padding-top: 61px;
	}

	.home__hero__subtitle {
		font-size: 13px;
		max-width: 170px;
		line-height: 1.55;
		margin-bottom: 15px;
	}

	.home__hero {
		padding: 40px 0 0;
	}

	.home__hero__title {
		font-size: 22px;
	}

	.home__hero__title-2__mask {
		height: 2.5rem;
	}

	.home__hero__info {
		margin-bottom: 35px;
	}

	.home__hero__image__line {
		height: 35px;
	}

	.home__hero__form_content_title {
		font-size: 15.5px;
	}

	.home__hero__form_content {
		padding: 23px 20px;
	}

	.field_x__row {
		flex-direction: column;
		gap: 1.5rem;
	}

	.home__welcome {
		padding: 40px 0 45px;
	}

	.home__welcome_text {
		line-height: 1.7;
	}

	.home__welcome_title {
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 1.35;
	}

	.home__welcome_col--3 {
		max-width: 100%;
		flex: none;
	}

	.home__welcome_row {
		gap: 25px;
	}

	.home__welcome_col.home__welcome_col--1 {
		margin-bottom: 5px;
	}

	.home__triggers__title {
		text-align: left;
		font-size: 20px;
		line-height: 1.65;
		margin-bottom: 40px;
	}

	.home__triggers {
		padding: 45px 0;
	}

	.home__triggers__item {
		width: 100%;
	}

	.home__triggers__item__icon img {
		width: 50%;
		height: 75%;
	}

	.home__triggers__item__title {
		max-width: 200px;
		min-height: auto;
		margin-bottom: 15px;
	}

	.home__triggers__item__icon {
		margin-bottom: 15px;
	}

	.home__triggers__item__text {
		max-width: 250px;
	}

	.home__counts {
		padding: 45px 0;
	}

	.home__counts__item__value {
		font-size: 1.85rem;
	}

	.home__counts__item__text {
		font-size: 12px;
		max-width: 100px;
		line-height: 1.5;
	}

	.home_lending {
		padding: 40px 0;
		min-height: 475px;
	}

	.home_lending__title {
		font-size: 24px;
		line-height: 1.55;
	}

	.home_lending__line ul {
		gap: 1.25rem 1.5rem;
	}

	.btn_home__lending {
		width: 100%;
		font-size: 0.905rem;
		padding: 0.825rem 1rem;
	}
}


.header__info {
    flex: 1;
    justify-content: flex-end;
    max-width: none;
}